h1 {
  color: salmon;
  text-align: center;
}

.submit-button {
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: salmon;
}
a:hover {
  text-decoration: underline;
}
